table {
    border: 1px solid #5BC3BE;
    border-collapse: collapse;
    text-align: center;
}

table td{
    width: 25px;
    height: 23px;
    cursor: pointer;
}

.pp-graph-table td.visited:not(.start-node, .end-node){
    background: yellow;
}

.pp-graph-table td.start-node svg,
.pp-graph-table td.end-node svg{
    height: 18px;
    padding-top: 2px;
}

.pp-graph-table td.visited:not(.start-node, .end-node){
    animation: blinker 0.5s linear;
}

.pp-graph-table td.shortest-path{
    background: #6950A1 !important;
}

.start-node{
    border: 1px solid rgb(175, 216, 248); 
    background-image: url("../assets/icons/start.svg");
    /* background-color: rgb(255, 254, 106); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.end-node{
    border: 1px solid rgb(175, 216, 248); 
    background-image: url("../assets/icons/end.svg");
    /* background-color: rgb(255, 254, 106); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.block-node{
    background: #34495e !important;
    animation: blocker 0.5s linear;
}

@keyframes blinker {
    50% {
      background: red;
    }
}

@keyframes blocker {
    50% {
      background: #34495e;
    }
}
  
 