.pp-sudoku-board {
    border: 2px solid #5BC3BE;
    border-collapse: collapse;
    text-align: center;
}

.pp-sudoku-board td{
    border: 1px solid;
    width: 35px;
    height: 31px;
}

.pp-form-select{
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.pp-split-2-column{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 20px;
    align-items: center;
}

.pp-form-row{
    justify-items: center;
    display: grid;
}

  
 