.pp-hanoi-tower-rod{
    height: 200px;
    background: black;
    position: relative;
}

.pp-hanoi-tower-container{
    display: grid;
    grid-template-columns: 5px 5px 5px;
    width: max-content;
    grid-gap: 200px;
    justify-self: center;
}

.pp-hanoi-tower-name{
    position: absolute;
    bottom: -60px;
    left: -25px;
    width: 80px;
}

.pp-hanoi-tower-element:nth-of-type(1){
    bottom: 0;
}

.pp-hanoi-tower-element:nth-of-type(2){
    bottom: 15px;
}

.pp-hanoi-tower-element:nth-of-type(3){
    bottom: 30px;
}

.pp-hanoi-tower-element-1{
    width: 60px;
    background: rgb(67, 190, 18);
    height: 15px;
    margin-left: -25px;
    position: absolute;
}

.pp-hanoi-tower-element-2{
    width: 80px;
    background: rebeccapurple;
    height: 15px;
    margin-left: -35px;
    position: absolute;
}

.pp-hanoi-tower-element-3{
    width: 100px;
    background: red;
    height: 15px;
    margin-left: -45px;
    position: absolute;
}

@media screen and (max-width:460px) {
    .pp-hanoi-tower-container{
        grid-gap: 80px;
    }

    .pp-hanoi-tower-element-1{
        width: 30px;
        margin-left: -13px;
    }
    
    .pp-hanoi-tower-element-2{
        width: 45px;
        margin-left: -20px;
    }
    
    .pp-hanoi-tower-element-3{
        width: 60px;
        margin-left: -28px;
    }
}