.pp-hanoi-tower-rod{
    background: #000;
    position: relative;
    width: 20px;
    height: 200px;
    /* background-color: rgb(95, 77, 39); */
    background-image: linear-gradient(to right, #debd8c,#eac07b ,#d29b3f,#b98e61);
    border-radius: 7px;
}

.pp-hanoi-tower-container{
    display: grid;
    grid-template-columns: 5px 5px 5px;
    width: max-content;
    grid-gap: 200px;
    justify-self: center;
}

.pp-hanoi-tower-name{
    position: absolute;
    bottom: -60px;
    left: -25px;
    width: 80px;
}

.pp-hanoi-tower-element:nth-of-type(2){ /** First one is the circle to make it 3d **/
    bottom: 0px;
}

.pp-hanoi-tower-element:nth-of-type(3){
    bottom: 20px;
}

.pp-hanoi-tower-element:nth-of-type(4){
    bottom: 40px;
}

.pp-hanoi-tower-element-1{
    width: 60px;
    background-image: linear-gradient(92deg, #eab38b,#ff5d5d ,#f55440,#ef3d3c);
    height: 20px;
    margin-left: -20px;
    border-radius: 5px;
    position: absolute;
}

.pp-hanoi-tower-element-2{
    width: 80px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #c4e08c,#8cec74,#8cec74,#489a0a);    
    height: 20px;
    margin-left: -30px;
    position: absolute;
}

.pp-hanoi-tower-element-3{
    height: 20px;
    width: 100px;
    margin-left: -40px;
    position: absolute;
    border-radius: 5px;
    background-image: linear-gradient(to right, #c1e0e6,#6c9cb9, #4b88ad,#18418c)
}

.pp-hanoi-tower-top-circle{
    top: 0;
    left: 45px;
    width: 20px;
    height: 8.3px;
    /* background-color: rgb(173, 119, 18); */
    background-image: linear-gradient(to right, #9c5f05,#9e680e ,#c78618,#8e5d15);
    -moz-border-radius: 60px / 25px;
    -webkit-border-radius: 60px / 25px;
    border-radius: 60px / 25px;
}

@media screen and (max-width:460px) {
    .pp-hanoi-tower-container{
        grid-gap: 80px;
    }

    .pp-hanoi-tower-element-1{
        width: 30px;
        margin-left: -13px;
    }
    
    .pp-hanoi-tower-element-2{
        width: 45px;
        margin-left: -20px;
    }
    
    .pp-hanoi-tower-element-3{
        width: 60px;
        margin-left: -28px;
    }
}