.pp-array-view{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.pp-array-element{
    background: yellow;
    border: 1px solid darkgoldenrod;
}

.pp-active-sort-elment{
    animation: blinker 0.2s linear;
}

@keyframes blinker {
    50% {
      background: green;
    }
}
 