.pp-array-view{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.pp-array-element{
    background-image: linear-gradient(46deg,#633bb1,#ff7e9c);
    box-shadow: -3px 3px 4px 0.5px rgb(101 101 101 / 51%);
    border-radius: 0 0 4px 4px;
    margin:0 3px;
}

.pp-active-sort-elment-fast{
    animation: blinker 0.1s linear;
}

.pp-active-sort-elment-medium{
    animation: blinker 0.4s linear;
}

.pp-active-sort-elment-slow{
    animation: blinker 0.8s linear;
}

.pp-array-size{
    cursor: pointer;
}

@keyframes blinker {
    50% {
        background: rgb(65, 211, 121);
    }
}
 